.mailCheckbox,
.mailDeleteBtn,
.mailOptions {
  display: none;
}

.singleMail:hover > a .mailCheckbox,
.singleMail:hover > a .mailDeleteBtn,
.singleMail:hover > a .mailOptions {
  display: flex;
}

.mailDeleteBtn:hover > .trash {
  color: white !important;
}
