.mailCheckbox,
.mailDeleteBtn,
.mailOptions {
  display: none;
}

.singleMail:hover > a .mailCheckbox,
.singleMail:hover > a .mailDeleteBtn,
.singleMail:hover > a .mailOptions {
  display: flex;
}
.singleMail:last-child {
  margin-bottom: 130px !important;
}
.mailDeleteBtn:hover > .trash {
  color: white !important;
}

.readMail {
  border-left-color: inherit;
}
.unreadMail {
  border-left: 4px solid #479ef5;
}
