@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
}
@layer base {
  :root {
    --primary-bg: #141414;
    --seconday-bg: #0a0a0a;

    --text-blue: #479ef5;
    --text-gray: #333333;
    --text-gray-500: #969a98;

    --single-mail-bg: #292929;
    --single-mail-hover-bg: #141414;
    --mail-text-color: #ddeae0;
    --open-mail-pane-bg: #1f1f1f;
    --open-mail-pane-hover_bg: #333333;
    --unread-mail-border-bg: #479ef5;
    --unread-mail-text-bg: #0a0a0a;
    --active-mail-bg: #0a2e4a;

    --mail-sidebar-bg: #0a0a0a;
    --mail-border: #4d4d4d;
    --border-color: #3d3d3d;
    --search-box-border: #7e7e7e;
  }
  .mini_sidebar li:hover > a svg {
    color: var(--text-blue);
  }
  .mini_sidebar li {
    margin-bottom: 10px;
    width: 45px !important;
    border-radius: 5px;
    transition: all 0.3s ease-in;
    color: var(--text-gray-500);
  }
  .mini_sidebar li:nth-child(1) {
    margin-top: 10px;
  }
  .mini_sidebar li svg {
    width: 20px;
    height: 16px;
  }

  body {
    height: 100vh;
    background-color: var(--primary-bg);
    overflow: hidden;
  }
  *::-webkit-scrollbar {
    width: 10px;
  }
  *::-webkit-scrollbar-track {
    background: transparent;
  }
  *::-webkit-scrollbar-thumb {
    background-color: #eee;
    border: 3px solid #212121;
    border-radius: 14px;
  }
  .dark {
  }
}
